body {background-color:#FFFFFF; width: 150px; border:1px solid #000000; width:200px;text-align: center;padding:5px;} 
.title1 {color:#000000; font-size: 14px; font-weight: bold;}
.inp_time {max-width: 30px; margin-top: 5px;}
.inp_action {max-width: 130px; margin-top: 5px;background:#3F9277;color: #ffffff}
.submit_btn_div p {font : 14px}